/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bar {
    border: 1px solid #dcdde1;
}

/* Nav */

nav {
    background-color: #fff;
    overflow: hidden;
    padding: 0 15em 0 15em;
}

nav h1:nth-child(1) {
    font-weight: 900;
}

nav h1:nth-child(2) {
    font-weight: 700;
}

nav h1:nth-child(3) {
    font-weight: 500;
}

nav h1:nth-child(4) {
    font-weight: 300;
}

nav h1:nth-child(5) {
    font-weight: 100;
}

nav h1 {
    display: inline-block;
    float: left;
    letter-spacing: 14px;
}

nav ul {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    float: right;
    margin-right: 1em;
    margin-top: 8.9px;
}

/* Header */
header {
    padding: 3em 0 3em 0;
    background-image: url("../img/blog/clean_code_bg.jpg");
}

header h1, header p {
    color: #fff;
    text-align: center;
}

header p {
    color: #d2dae2;
}

header span {
    font-weight: 900;
}

header h1 {
    font-weight: 100;
    font-size: 60px;
}

/* Feed 1 */
.left {
    float: left;
    width: 60%;
}

.left .bar {
    margin-top: 2em;
    margin-right: 1em;
    float: right;
    width: 78%;
}

.feed-1 {
    margin-top: 2em;
    display: inline-block;
    width: 100%;
}

.feed-1 .white-width {
    width: 24%;
    height: 10px;
    float: left;
}

.feed-1 .feed-image {
    display: inline-block;
    width: 45%;
}

.feed-1 .feed-image img {
    margin-top: 2em;
    width: 100%;
}

.feed-1 .feed-text {
    display: inline-block;
    width: 30%;
    float: right;
}

.feed-1 .feed-text p {
    font-size: 10px;
}

.feed-1 .feed-text h1 {
    font-size: 30px;
}

.feed-1 .feed-text h3 {
    font-size: 16px;
    font-weight: lighter;
}

.feed-1 .feed-text a {
    font-size: 16px;
    font-weight: bold;
}

.left .pages-choice {
    display: inline-block;
}

.left .pages-choice .pages-choice-letter {
    margin: 2em 0 2em 0;
}

.left .pages-choice .pages-choice-letter a {
    color: gray;
    text-decoration: none;
    padding: 0.6em 1em 0.6em 1em;
}

.left .pages-choice .pages-choice-letter a.active {
    border: 2px solid #333333;
    color: #333333;
    font-weight: bolder;
}

.left .pages-choice .white-width {
    margin: 3em 0 3em 0;
    width: 24%;
    height: 10px;
    float: left;
}

/* Feed 2 */
.right {
    float: right;
    width: 40%;
}

.feed-2 .white-width {
    width: 65%;
    height: 1000px;
    float: right;
}

.feed-2 .anti-white-width {
    width: 35%;
    height: 135em;
    float: right;
}

.feed-2 {
    margin-top: 2em;
    display: inline-block;
    width: 100%;
    float: right;
}

.feed-2 .bar {
    width: 100%;
}

.feed-2 ul li {
    list-style: none;
    padding: 14px;
}

.feed-2 ul {
    padding: 0;
}

.feed-2 .popular-posts .popular-posts-image img {
    width: 100%;
}

.feed-2 .popular-posts .popular-posts-text h1 {
    width: 100%;
    font-size: 16px;
}

.feed-2 .popular-posts .popular-posts-text p {
    width: 100%;
    font-size: 10px;
    margin-bottom: 10px;
}

.popular-tags a {
    border: 1px solid black;
    padding: 5px 7px 5px 7px;
    margin-right: 7px;
    line-height: 40px;
}

.feed-2 .about-blog p {
    width: 100%;
    font-size: 14px;
}

.popular-posts h1, .popular-tags h1, .about-blog h1 {
    font-weight: lighter;
}

.popular-posts h1 span, .popular-tags h1 span, .about-blog h1 span {
    font-weight: bold;
}

/* Choix de Pages */
.pages-choice {
    width: 100%;
}

/* Footer */
footer {
    display: inline-block;
    background-color: #1C1C1C;
    width: 100%;
    color: white;
}

footer .white-width {
    width: 20%;
    height: 100px;
    float: left;
}

footer .white-width-right {
    width: 15%;
    height: 100px;
    float: right;
}

.featured-posts {
    width: 23%;
    float: left;
}

footer .featured-posts h2 {
    display: inline-block;
    color: #7B7B7B;
    float: none;
    width: 100%;
}

footer .featured-posts .featured-posts-image {
    width: 30%;
    float: left;
    height: 90px;
}

footer .featured-posts .featured-posts-image img {
    display: inline-block;
    width: 100%;
}

footer .featured-posts .featured-posts-text {
    width: 70%;
    float: right;
    height: 90px;
}

footer .featured-posts .featured-posts-text p {
    font-weight: lighter;
    width: 100%;
    margin-left: 15px;
    color: #7B7B7B;
}

footer .featured-posts .featured-posts-text span {
    font-weight: bold;
}

.about-us {
    width: 23%;
    float: left;
}

footer .about-us h2 {
    display: inline-block;
    color: #7B7B7B;
    float: none;
    width: 100%;
}

footer .about-us .about-us-text {
    width: 100%;
    float: left;
    height: 90px;    
    padding-right: 2em;
}

footer .about-us .about-us-text p {
    font-weight: 100;
    width: 100%;
    color: #7B7B7B;
    line-height: 1.9em;
}

footer .about-us .about-us-icons {
    border: 1px solid #7B7B7B;
    padding: 0px 15px 0px 15px;
    margin-right: 7px;
    line-height: 50px;
    color: #7B7B7B;
    text-align: center;
}

.contacts-us {
    width: 23%;
    float: left;
}

footer .contacts-us h2 {
    display: inline-block;
    color: #7B7B7B;
    float: none;
    width: 100%;
}


footer .contacts-us input {
    background-color: #1C1C1C;
    color: #272A30;
    border: 1px solid #272A30;
    padding: 1em;
    width: 50%;
}

footer .contacts-us .contacts-message {
    height: 87.32px;
}

footer .contacts-us button {
    background-color: #1C1C1C;
    color: #272A30;
    border: 1px solid #272A30;
    padding: 1em;
}

/* @MEDIA */


@media (max-width: 1254px) {
/* Feed 1 */
.left {
    float: none;
    width: 80%;
}

.feed-1 .white-width {
    width: 24%;
    height: 10px;
    float: left;
}

/* Feed 2 */
.right {
    float: none;
    width: 100%;
}

.feed-2 .white-width {
    width: 24%;
    height: 10px;
    float: left;
}

.feed-2 .anti-white-width {
    width: 50%;
    height: 121em;
    float: left;
}

footer {
    height: 31em;
}
  }